*{
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
}
/************************************************************* 顶部 */
#dingbu{
	width: 1200px;
	height: 107px;
	margin: 0 auto;
}
#dingbu a{
	color: #4AB344;
}
#dingbu-img{
	display: inline-block;
	float: left;
	margin-top: 10px;
}
#dingbu-li{
	display: inline-block;
	margin-left:150px;
}
#dingbu-li ul li{
	display: inline-block;
	width: 90px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin: 0px 10px;
	margin-top: 25px;
	font-size: 16px;
}
#dingbu-gwc{
	display: inline-block;	
	float: right;
	width: 154px;
	height:42px;
	margin-top: 30px;
	margin-right: 5px;
	text-align: center;
	line-height: 42px;
	border: 1px solid #E6E6E6;
}
/****************************************************** 中间图片 */
#zhongjiantu{
    width: 100%;
    height: 380px;
    overflow: hidden;
    margin: 0px auto;
    background-image:url("../../img/public/tban.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
}
/********************************************************* 中间操作部分 */
#zhongjianCZ{
	width: 1200px;
	height: 600px;
	margin: 0 auto;
}
/************************************************************* 中间左边 */
#zjCZleft{
	width: 300px;
	height: 400px;
	float: left;
	margin-top: 100px;
	background-color: whitesmoke;
	border-radius: 25px;
}
#zjCZleft a{
	color: seagreen;
}
.zjCZleftli a:hover{
	font-size: 22px;
}
#zjCZleftli1 a:hover{
	font-size: 26px;
}
#zjCZleft ul{
	margin-left: 25px;
	margin-top: 30px;
	width: 250px;
	border: darkseagreen solid 2px;
	border-radius: 20px;
	list-style: none;
	text-align: center;
}
.zjCZleftli{
	height: 55px;
	line-height: 55px;
	border-top: darkseagreen solid 2px;
	font-size: 18px;
	font-weight: bold;
}
#zjCZleftli1{
	height: 50px;
	line-height: 50px;
	font-size: 22px;
	font-weight: bolder;
}
/************************************************************* 中间右边 */
#zjCZright{
	width: 900px;
	height: 600px;
	float: right;
	color: #2E8B57;
}
/* #zjCZrightTitle{
	margin-top: 20px;
	margin-left: 200px;
	font-size: 30px;
	font-weight: bolder;
} */
/************************************************************ 订单主体 */
#dingdan{
	/* border: #2E8B57 solid 1px; */
	height: 500px;
}














/****************************************************************底部*/
.footer{
    width: 100%;
    height: 566px;
    float: left;
    background: url("../../img/public/footer.jpg")no-repeat center;
}
.ft-con{
    width: 1200px;
    margin: 0 auto;
}
.ft-top{
    float:left;
    width: 1200px;
    height: 180px;
    margin-top: 20px;
    border-bottom: 1px solid;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: #848484;

}
.ft-b{
    float: left;
    width: 240px;
    height: 200px;
    margin-left: 60px;
    margin-top: 50px;
}
.ft-b h3{
    padding-bottom: 20px;
    color: white;
}
.ft-b p{
    line-height: 25px;
    color: #92CA9D;
}
.banq{
    float: left;
    width: 100%;
    height: 30px;
    text-align: center;
    margin-top: 65px;
    color: #92CA9D;
}
.banq span img{
    line-height:14px;
}